name: Update Data

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  commit-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      - name: Commit data changes
        run: |
          git add data
          git diff --cached --quiet || git commit -m "Update data"
      - name: Push
        run: |
          git push
