name: Update Data

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  commit-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Commit data changes
        run: |
          git add frontend/public/data
          git diff --cached --quiet || git commit -m "Update data"
      - name: Push
        run: |
          git push
